@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,800&display=swap');
.signupContainer
{
    background-color: black !important;
}
.section
{
    padding-top: 75px !important;
}
.signupTitle
{
    font-size: 1.4rem;
    font-family: 'Open Sans' ;
}
.signUpHr
{
    border: solid 0.5px white;
}
.arrow
{
    font-size: 2rem;
}
.signupDriverSection, .signupRiderSection
{
    margin: auto;
}
@media screen and (max-width: 700px)
{
    .signupDriverSection
    {
        margin-bottom: 15% !important;
    }
    .signupRiderSection
    {
        margin-top: 15% !important;
    }
}